// Reset no longer needed if you're using Bootstrap. But add it back if you don't want to use Bootstrap.
// IMPORTS
@import "reset";

// VARIABLES
$grey: #e0e0e0;
$grey-hover: #aeaeae;

// GLOBAL
* {
    background-repeat: no-repeat;
    text-transform: lowercase;
}

.img-responsive{
    width: 100%;
}
a{
            text-decoration: none;
            color: black;
}
body {
    // background: orange;
    font-size: 14px;
    font-family: Bitter,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

@media screen and (min-width: 800px) {
    body {
        // background: red;
    }
}
.container{
    margin: 0 auto;
    width: 80%;
}

h1{
    font-size:5.5em;
}

h2{
    font-size:3.5em;
}

article {
    clear: both;
}

// NAVBAR


.navbar{
    height: 50px;
    width: 100%;
    position: fixed;
    background-color: white;
    left:0;
    top: 0;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    ul{
        text-align:center;
        // -webkit-padding-start: 0px;
        list-style: none;
        margin: 17px 0;
        li{
            display: inline-block;
            padding: 0 6%;
            a{
                text-transform: uppercase;
                font-weight: bold;
                // margin: 1% 10%;
            }
        }
    }
    .starterleague-icon{


    }
}

// HERO

.hero{
    background: url(../images/hero.jpg) no-repeat;
    background-size: cover;
    height: 460px;
    .header{
        padding-top: 145px;
        text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
        h1, h2{
            color:white;
            text-align: center;
        }
    }
}

// BLOG

.blog-header{
    padding: .5em 0;
}

.blog-post{
    font-size: 1.5em;
    margin-bottom: 30px;
}

.blog-post-footer{
    padding-top: 10px;
    border-top: 1px solid $grey;
    clear:both;
    .post-footer-links{
        display: inline-block;
        padding: 0 5px;
        &:first-child{padding: 0 5px 0 0}
        &:last-child{padding: 0 0 0 5px}
        a{
            color: $grey;
            font-size: 1.2em;
            &:hover{
                color: $grey-hover;
            }
        }
    }
    .post-comment{
        float: right;
    }
}

