---
layout: default
---

<article>
    <h2 class="blog-header">{{ page.title }}</h2>

    <div class="blog-post">
        by {{ page.author }}
        <br><br>
        {{ content }}
    </div>

    <div class="blog-post-footer">
        <div class="post-footer-links"><a href="">Like</a></div>
        <div class="post-footer-links"><a href=""> Reblog</a></div>
        <div class="post-footer-links"><a href="">5 days ago</a></div>
        <div class="post-footer-links post-comment"><a href="">Comments</a></div>
    </div>
</article>
